.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-bottom: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#FirstLoad {
  width: 100%;
  height: 100%;
}

#Name {
  position: absolute;
  top: 13%;
  left: 40%;
}

#Loading {
  position: absolute;
}

#anmeldediv
{
  position: absolute;
  left: 80%;
  top: 10%;
}

.input1
{
  width: 98%;
  margin: inherit;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}
/* #SD
{
  position: absolute;
  top: 10%;
  left: 30%;
}

#SDE
{
  position: static;
  top: 10%;
  left: 40%;
} */

#UnoButton {
  position: absolute;
  top: 20%;
  left: 40%;
}

#BJButton {
  position: absolute;
  top: 30%;
  left: 40%;
}

#KniffelButton {
  position: absolute;
  top: 40%;
  left: 40%;
}


#Date
{
  position: absolute;
  top: 90%;
  left: 0%;
}

#EinstellungenFenster
{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0%;
}

#bg {
  width: 200px;
  height: 50px;
}
